@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to All Booked Up</h1>
    <p>Check out my <a href="https://github.com/PiyushSendurse">github profile</a> </p>
    <img src="\images\BookShelf.webp" alt="no image">
</div>
