@using BusinessObjectLayer;

@{
    ViewData["Title"] = "Index Page";
}
<div>
    <h1>Books Catalogs..........</h1>
    @{
        List<Product> allProducts=(List<Product>)ViewData["product"];
        <ol>
            @foreach( Product product in allProducts){
                <li> <a href="/Product/Details/@product.Id">@product.Title</a></li>
            }
        </ol>
    }
</div>

@* 
<ol>
    <li></li>
</ol> *@